body {
	background: url('/images/back.jpg') no-repeat center center fixed;
	background-size: cover;
}

.w3-bar-item {
	text-shadow: 1px 1px 0 #000000;
}

.photo{
	background: url('/images/noPhoto.png');
	background-size: cover;
}